@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #edf6f9;
	font-family: Lora, serif;
	font-size: 2wh;
	line-height: 3wh;
}

nav {
	width: 60%;
    margin-left: 20%;
	position: fixed;
	background-color: #006d77;
	height: 6vh;
	font-size: 3vh;
	line-height: 6vh;
	opacity: 0.9;
}

nav > a {
	display: inline-block;
	height: 100%;
	color: white;
	padding: 0 2vw;
	text-decoration: none;
	transition: all 0.3s ease-in;
}

nav > a:hover {
	background-color: #edf6f9;
	transition: all 0.3s ease-out;
}

div {
	display: block;
	width: 70%;
    margin-left: 0;
    position: relative;
    left: 100px;
}

h1, h2, h3 {
	font-family: Poppins, sans-serif;
}

h1 {
	font-size: 4vh;
	line-height: 6vh;
	margin: 1vh 0;
}

h2 {
	font-size: 3vh;
	line-height: 4.5vh;
	margin: 0.8vh 0;
}

h3 {
	font-size: 2.4vh;
	line-height: 3.6vh;
	margin: 0.5vh 0;
}

article {
	margin: 1.5vh 0;
	padding: 1vh 5vw;
}

article {
	position: relative;
	top: 20%;
	left: 10%;
	width: 80%;
}

section {
	margin: 1.2vh 0;
}

section > p {
	text-indent: 5%;
}

p {
	margin: 0.2vh 0;
}

a {
	text-decoration: none;
}
